.RecAzul{
    background-color: rgb(127, 176, 250);
    height: 120px;
    width: 160px;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
}

.RecAmar{
    background-color: rgb(241, 245, 9);
    height: 40px;
    width: 40px;
    position: relative;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-top: 20px;
}
.RecRojo{
    background-color: rgb(190, 81, 81);
    height: 120px;
    width: 160px;
    position: absolute;
    margin-left: 100px;
    margin-top: 140px;
}
.RecVerde{
    background-color: rgb(95, 236, 170);
    height: 40px;
    width: 40px;
    position: relative;
    margin-top: 60px;
    margin-left: 100px;
}